In [1]:
# Dependencies
import pandas as pd
import numpy as np

import sqlalchemy
#from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

from flask import Flask, jsonify

In [2]:
# Files to Load 
measure_load = "resources/clean_hawaii_measurements.csv"
station_load = "resources/clean_hawaii_stations.csv"

# Read Data Files and store into Pandas Data Frames
measure_df = pd.read_csv(measure_load)
station_df = pd.read_csv(station_load)

In [3]:
Base = declarative_base()

In [4]:
# check df read
measure_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [5]:
# check df read
station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
# Create the Measurment class
class Measurements(Base):
    __tablename__ = 'Measurement'
    
    measure_id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

In [7]:
# Create the Garbage class
class Stations(Base):
    __tablename__ = 'Station'
    
    station_id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [8]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///hawaii.db')
conn = engine.connect()

In [9]:
Base.metadata.create_all(engine)
#Base2.metadata.create_all(conn)

In [10]:
measure_df.to_sql('Measurement', conn, if_exists = 'append', index = True, index_label = 'measure_id')
station_df.to_sql('Station', conn, if_exists = 'append', index = True, index_label = 'station_id')

In [11]:
# check for table creation
inspector = inspect(engine)

In [12]:
inspector.get_table_names()

['Measurement', 'Station']

In [13]:
# check the data was populated to tables
session = Session(engine)

In [14]:
first_row = session.query(Stations).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1c5544ffdd8>,
 'elevation': 3.0,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397',
 'station_id': 0}